To do:
Create a csv file with columns InvoiceDt, stockCode, Description, Total sales
Perform imputation (if a product was not sold on a date then there must a zero in total sales)

In [2]:
import pandas as pd 
origin = r"D:\Python\task\simplerName.xlsx" #assigning the raw path to a var

In [3]:
df = pd.read_excel(origin) #reading the file

In [97]:
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,TotalSales
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,0.0
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,0.0
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,0.0
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,0.0
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,0.0
...,...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.0,United Kingdom,0.0
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom,0.0
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom,0.0
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.0,United Kingdom,0.0
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom,0.0

In [37]:
dfNew = df[['InvoiceDate', 'StockCode', 'Description', 'Quantity', 'Price']] #creating a new dataframe that is a subset of the original one
dfNew.insert(loc = 5, column = 'TotalSales', value = 0) #adding a new column

In [49]:
dfNew

,InvoiceDate,StockCode,Description,Quantity,Price,TotalSales
0,2009-12-01 07:45:00,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,6.95,83.40
1,2009-12-01 07:45:00,79323P,PINK CHERRY LIGHTS,12,6.75,81.00
2,2009-12-01 07:45:00,79323W,WHITE CHERRY LIGHTS,12,6.75,81.00
3,2009-12-01 07:45:00,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2.10,100.80
4,2009-12-01 07:45:00,21232,STRAWBERRY CERAMIC TRINKET BOX,24,1.25,30.00
...,...,...,...,...,...,...
525456,2010-12-09 20:01:00,22271,FELTCRAFT DOLL ROSIE,2,2.95,5.90
525457,2010-12-09 20:01:00,22750,FELTCRAFT PRINCESS LOLA DOLL,1,3.75,3.75
525458,2010-12-09 20:01:00,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,3.75,3.75
525459,2010-12-09 20:01:00,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,3.75,7.50
525460,2010-12-09 20:01:00,21931,JUMBO STORAGE BAG SUKI,2,1.95,3.90

In [99]:
if df['Quantity'].isna().any(): 
    print("NaN under quantity")
if (df['Quantity'] == 0).any():
    print("Zeroes under quantity") 
#output looks clear, assume quantity column is clean
if df['Price'].isna().any():
    print("NaN under price")
if (df['Price'] == 0).any():
    print("Zeroes under price df") 
#even though the problem statement says so, there aren't any days on which a product WASN'T sold
if dfNew['Quantity'].isna().any():
    print("NaN under quantity")
if (dfNew['Quantity'] == 0).any():
    print("Zeroes under quantity") 
if dfNew['Price'].isna().any():
    print("NaN under price")
if (dfNew['Price'] == 0).any():
    print("Zeroes under price") 
#same conclusions follow for the new dataframe, obviously

Zeroes under price df
Zeroes under price

In [ ]:
dfNew['TotalSales'] = dfNew['Quantity'] * dfNew['Price'] #sales equals quantity of a product sold times price

In [100]:
dfNew

,InvoiceDate,StockCode,Description,Quantity,Price,TotalSales
0,2009-12-01 07:45:00,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,6.95,83.40
1,2009-12-01 07:45:00,79323P,PINK CHERRY LIGHTS,12,6.75,81.00
2,2009-12-01 07:45:00,79323W,WHITE CHERRY LIGHTS,12,6.75,81.00
3,2009-12-01 07:45:00,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2.10,100.80
4,2009-12-01 07:45:00,21232,STRAWBERRY CERAMIC TRINKET BOX,24,1.25,30.00
...,...,...,...,...,...,...
525456,2010-12-09 20:01:00,22271,FELTCRAFT DOLL ROSIE,2,2.95,5.90
525457,2010-12-09 20:01:00,22750,FELTCRAFT PRINCESS LOLA DOLL,1,3.75,3.75
525458,2010-12-09 20:01:00,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,3.75,3.75
525459,2010-12-09 20:01:00,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,3.75,7.50
525460,2010-12-09 20:01:00,21931,JUMBO STORAGE BAG SUKI,2,1.95,3.90

In [102]:
dfNew.to_csv('output.csv', index = False) #excluding index from the csv